*.bak
*.lo
*.log
*.o
*.trs
*~
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/ar-lib
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/test-driver
config.log
config.status
configure
gtk-doc/html-build.stamp
gtk-doc/html.stamp
gtk-doc/html/
gtk-doc/scan-build.stamp
gtk-doc/setup-build.stamp
gtk-doc/sgml-build.stamp
gtk-doc/sgml.stamp
gtk-doc/tmpl-build.stamp
gtk-doc/tmpl.stamp
gtk-doc/tmpl/
gtk-doc/u2f-server-decl-list.txt
gtk-doc/u2f-server-decl.txt
gtk-doc/u2f-server-overrides.txt
gtk-doc/u2f-server-sections.txt
gtk-doc/u2f-server-undeclared.txt
gtk-doc/u2f-server-undocumented.txt
gtk-doc/u2f-server-unused.txt
gtk-doc/u2f-server.args
gtk-doc/u2f-server.hierarchy
gtk-doc/u2f-server.interfaces
gtk-doc/u2f-server.prerequisites
gtk-doc/u2f-server.signals
gtk-doc/u2f-server.types
gtk-doc/xml/
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/.gdbinit
src/cmdline.c
src/cmdline.h
src/u2f-server
src/u2f-server.1
tests/.deps/
tests/Makefile
tests/Makefile.in
tests/basic
u2f-server/libu2f-server.la
u2f-server/u2f-server-version.h
u2f-server/u2f-server.pc
